@import 'imports'

.sr-level
	position relative

	&-matrix
	&-obstacles
	&-web-cells
		position absolute
		xy 0 0

	&-units
		position absolute
		xy 8px 8px

	&-cell
		background black none scroll 0 0 no-repeat
		float left
		position relative
		size 16px 16px

		&[sr-type="0"]
			background-color #E5CC69

		&[sr-type="1"]
			background-color #AF4407

		&[sr-type="2"]
			background-color #726C68

	&-selection
		border 1px solid black
		position absolute

.sr-obstacle
	position absolute
	transform-origin 8px 8px 0

	&[sr-type="bed"]
		background transparent url(images/bed.png) scroll 0 0 no-repeat

.sr-unit
	position absolute
	size 0 0

	&-view
		position absolute

		&.selected
			outline 1px solid green

		&[sr-type="spider"]
			background transparent url(images/spider.png) scroll 0 0 no-repeat

			&.active
				background-image url(images/spider-active.png)

.sr-spider
	&-ass
		background transparent url(images/spider-ass.png) scroll 0 0 no-repeat
		position absolute
		size 12px 12px
		xy 0 2px

	&-view.active > &-ass
		background-image url(images/spider-ass-active.png)

.sr-habitant
	&-body
		background transparent url(images/body.png) scroll 0 0 no-repeat
		position absolute
		size 100% 100%
		xy 0 0

	&-left-leg
		background transparent url(images/leg.png) scroll 0 0 no-repeat
		position absolute
		height 48px
		top 0

	&-right-leg
		background transparent url(images/leg.png) scroll 0 0 no-repeat
		position absolute
		height 48px
		top 64px

	&-weapon
		position absolute
		margin -40px -40px
		size 80px 80px

		&[sr-weapon="0"]
			background transparent url(images/slipper.png) scroll 0 0 no-repeat

		&[sr-weapon="1"]
			background transparent url(images/broom.png) scroll 0 0 no-repeat

.sr-web-cell
	background transparent url(images/web.png) scroll 0 0 no-repeat
	position absolute
	size 16px 16px
