@import 'imports'

.sr-level
	position relative

	&-matrix
	&-obstacles
		position absolute
		xy 0 0

	&-cell
		background black none scroll 0 0 no-repeat
		float left
		position relative
		size 16px 16px

		&[sr-type="0"]
			background-color #FFE575

		&[sr-type="1"]
			background-color #AF4407

		&[sr-type="2"]
			background-color #726C68

	&-selection
		border 1px solid black
		position absolute

.sr-obstacle
	position absolute
	transform-origin 8px 8px 0

	&[sr-type="bed"]
		background transparent url(images/bed.png) scroll 0 0 no-repeat

.sr-unit
	position absolute
	transform-origin 8px 8px 0

	&[sr-type="spider"]
		background transparent url(images/spider.png) scroll 0 0 no-repeat

	&.selected
		outline 1px solid green
