@import 'imports'

.sr-level
	position relative

	&-matrix
	&-obstacles
	&-web-cells
		position absolute
		xy 0 0

	&-units
		position absolute
		xy 8px 8px

	&-flies
		position absolute
		xy -4px -4px

	&-cell
		background black none scroll 0 0 no-repeat
		float left
		position relative
		size 16px 16px

		&[sr-type="0"]
			background-color #E5CC69

		&[sr-type="1"]
			background-color white

		&[sr-type="2"]
			background-color #726C68

		&[sr-type="3"]
			background-color #0094FF

	&-achievement
	&-victory
		background white
		font-family "Comic Sans MS",sans-serif
		font-size 22px
		position absolute
		size 256px 256px
		text-align center
		xy 10px 400px

	&-victory
		animation color-animation 3s infinite alternate
		font-size 48px

	&-selection
		border 1px solid black
		pointer-events none
		position absolute

.sr-obstacle
	position absolute
	transform-origin 8px 8px 0

	&[sr-type="bed"]
		background transparent url(images/bed.png) scroll 0 0 no-repeat

	&[sr-type="table"]
		background transparent url(images/table.png) scroll 0 0 no-repeat

	&[sr-type="cabinet"]
		background transparent url(images/cabinet.png) scroll 0 0 no-repeat

.sr-unit
	position absolute
	size 0 0

	&-view
		position absolute

		&.selected
			outline 1px solid green

		&[sr-type="spider"]
			background transparent url(images/spider.png) scroll 0 0 no-repeat

			&.active
				background-image url(images/spider-active.png)

.sr-spider
	&-ass
		background transparent url(images/spider-ass.png) scroll 0 0 no-repeat
		position absolute
		size 12px 12px
		xy 0 2px

	&-view.active > &-ass
		background-image url(images/spider-ass-active.png)

.sr-habitant
	&-body
		background transparent url(images/body.png) scroll 0 0 no-repeat
		position absolute
		size 100% 100%
		xy 0 0

	&-left-leg
		background transparent url(images/leg.png) scroll 0 0 no-repeat
		position absolute
		height 48px
		top 0

	&-right-leg
		background transparent url(images/leg.png) scroll 0 0 no-repeat
		position absolute
		height 48px
		top 64px

	&-weapon
		position absolute
		margin -40px -40px
		size 80px 80px

		&[sr-weapon="0"]
			background transparent url(images/slipper.png) scroll 0 0 no-repeat

		&[sr-weapon="1"]
			background transparent url(images/broom.png) scroll 0 0 no-repeat

		&[sr-weapon="2"]
			background transparent url(images/magazine.png) scroll 0 0 no-repeat

.sr-web-cell
	background transparent url(images/web.png) scroll 0 0 no-repeat
	position absolute
	size 16px 16px

.sr-fly
	background transparent url(images/fly.png) scroll 0 0 no-repeat
	position absolute
	size 9px 9px

	&.sitting
		background-image url(images/fly-sitting.png)

	&.sitting-1
		background-image url(images/fly-sitting-1.png)

	&.sitting-2
		background-image url(images/fly-sitting-2.png)

@keyframes color-animation
	0% { color: #f00; }
	33% { color: #0f0; }
	66% { color: #00f; }
	100% { color: #f00; }
